.item {
    margin-bottom: 8px;
    padding: 8px 0 8px 8px;
    position: relative;
    height: auto;
    background-color: azure;
    width: 100%;
    text-align: left;
  }
  .itemHeader{
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
  }
  .item img{
    width: 80px;
    height: 80px;
  }
  .item p{
    text-align: left;
    margin: 2px;
  }
  .item-title{
    font-weight: bold;
    flex-grow: 2;
    text-align: left;
    margin-bottom: 0;
    margin-top: 15px;
    margin-left: 5px;
  }
  .item-details{
    width: 100%;
  }

  .mod-date{
    float: right;
    margin-top: 0;
    margin-right: 10px;
    font-size: 15px;
  }