.item {
    --note-height: 80 px;
    height: var(--note-height);
    margin-bottom: 8px;
    max-width: 700px;
    padding: 8px 0 8px 8px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: azure;
  }
  .item p{
    margin: 5px;
    text-align: left;
    font-size: smaller;
  }
  .item-title{
    font-weight: bold;
  }
  .item-details{
    width: 100%;
  }
  .item-first-line{
    display: flex;
    justify-content: space-between;
  }