.DasboardList{
    text-align: center;
    align-items: center;
    margin: auto;
    align-content: center;
}
.DasboardList ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.DasboardList a{
    text-decoration: none;
    color: black;
}
.DashboardItemList{
    padding-bottom: 100px;
}

@media (min-width: 600px) {
    .DasboardList{
        width: 80%;
    }
}